@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@200;400&display=swap");
/* FONTS */
/* 
font-family: 'Indie Flower', cursive;  // HANDWRITING
font-family: 'Raleway', sans-serif;   // NORMAL FONT
*/
/* COLORS */
:root {
  --light-gray: #faf8ff;
  --gray: #dedede;
  --dark-gray: #353535;
  --light-green: #65fbd2;
  --green: #05c19c;
  --dark-green: #008b69;
  --delete: #f35656;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines what 1rem is */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-green);
  color: var(--dark-gray);
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  font-family: "Indie Flower", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  font-family: "Raleway", sans-serif;
  width: 20vw;
}

form input,
form button {
  padding: 0.7rem 1rem;
  font-size: 1.8rem;
  border: none;
  background-color: var(--light-gray);
}

form input::placeholder {
  font-size: 1.8rem;
  opacity: 0.6;
  color: var(--dark-gray);
}

form button {
  color: var(--dark-green);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: var(--dark-green);
  color: var(--light-gray);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: var(--light-gray);
  font-size: 1.6rem;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.delete-btn,
.complete-btn {
  width: 10%;
  color: var(--light-gray);
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  opacity: 0.8;
  transition: 0.5s ease;
}

.todo i {
  font-size: 1.8rem;
}

.delete-btn:hover,
.complete-btn:hover {
  opacity: 1;
}

.delete-btn {
  background: var(--delete);
}

.complete-btn {
  background: var(--green);
  transition: all 1s ease;
}

.todo-item {
  padding: 0.5rem 0.8rem;
}

.fa-xmark,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.8;
}

.completed .complete-btn {
  display: none;
}

.completed .delete-btn {
  width: 20%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: var(--dark-gray);
  background-color: var(--light-gray);
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  width: 12rem;
  height: 100%;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.3rem;
  height: 100%;
  background: var(--dark-green);
  cursor: pointer;
  pointer-events: none;
}
